.my-team {
  margin: 0px 35px;
}

.dashboard {
  margin: 35px;
}

.action {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.mat-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  width: 25%;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 35px;
  z-index: 999;
  height: 50px;
  color: #cc3813;
  font-size: 12px;
  font-weight: bold;
}
